.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #f0f2f5;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,.loginRight{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #71BC78;
    margin-bottom: 10px;
}

.loginDesc{
    font-style: 24px;
}

.loginBox{
    height: 300px;
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    background-color: #71BC78;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:hover{
    background-color: #4b8d51;
}

.forgotPassword{
    text-align: center;
    font-size: 15px;
    color: #71BC78;
}

.register{
    height: 50px;
    width: 50%;
    align-self: center;
    background-color: rgb(194, 127, 3);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-style: 20px;
    font-weight: 500;
    cursor: pointer;
}

.register:hover{
    background-color: rgb(214, 141, 4);
}